version: '3.4'
services:
  grafana:
    container_name: grafana
    image: grafana/grafana
    ports:
      - '3000:3000'
    restart: on-failure:3
    environment:
      - GF_SECURITY_ADMIN_USER=${INFLUX_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${INFLUX_PASSWORD}
    volumes:
      - 'grafana_storage:/var/lib/docker/volumes/grafana_storage'


  influxdb:
    container_name: influxdb
    image: influxdb:1.8
    ports:
      - '4000:8086'
    restart: on-failure:3
    volumes:
      - 'influxdb_data:/var/lib/docker/volmees/influxdb_data'
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_USER=${INFLUX_USER}
      - DOCKER_INFLUXDB_PASSWORD=${INFLUX_PASSWORD}
      - DOCKER_INFLUXDB_DB=${INFLUX_DATABASE}     


  # py-trigger:
  #   container_name: py-trigger
  #   build:
  #     dockerfile: Dockerfile.trigger
  #   privileged: true
  #   restart: on-failure:3


  # data-wathering:
  #   container_name: py-data_wathering
  #   build:
  #     dockerfile: Dockerfile.data_wathering
  #   privileged: true
  #   volumes:
  #     - /etc/localtime:/etc/localtime
  #   restart: on-failure:3
  #   depends_on:
  #     - influxdb


  # data-weather:
  #   container_name: py-data_weather
  #   build:
  #     dockerfile: Dockerfile.data_weather
  #   privileged: true
  #   volumes:
  #     - /etc/localtime:/etc/localtime
  #   restart: on-failure:3
  #   depends_on:
  #     - influxdb


volumes:
  grafana_storage:
  influxdb_data:
