version: '2.40.2'
services:
  grafana:
    container_name: grafana
    image: grafana/grafana
    ports:
      - '3000:3000'
    restart: always
    volumes:
      - 'grafana_storage:/var/lib/docker/volumes/grafana_storage'


  influxdb:
    container_name: influxdb
    image: influxdb:1.8
    ports:
      - '4000:8086'
    restart: always
    volumes:
      - 'influxdb_data:/var/lib/docker/volmees/influxdb_data'
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_USER=${INFLUX_USER}
      - DOCKER_INFLUXDB_PASSWORD=${INFLUX_PASSWORD}      


# trigger
#
#
#
#
# data wathering
#
#
#
# data weather
#
#
#
#


volumes:
  grafana_storage:
  influxdb_data:
